
services:

  frontend:
    build:
      context: ../frontend/cryptify-frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    image: frontend
    networks:
      - traefik-proxy
    ports:
      - "4200:4200"
    tty: true

  backend:
    build: ./
    container_name: backend
    restart: unless-stopped
    image: backend
    env_file: ./server-config/prod-config.env
    networks:
      - traefik-proxy # connection with External DB
      - api-internal-network # internal network for connection with redis
    ports:
      - "85:85"
    tty: true
    volumes:
      - backend-logs:/code/logs

volumes:
  uploads:
    driver: local
  backend-logs: 
    external: true
      
networks:
  api-internal-network:
    external: true
  traefik-proxy:
    external: true
