http:
  routers:
    backend:
      rule: "Host(`api.cryptify.ss-centi.com`)"
      entryPoints:
        - http
      middlewares:
        - redirect
      service: backend

    backend-secure:
      rule: "Host(`api.cryptify.ss-centi.com`)"
      entryPoints:
        - https
      tls:
        certresolver: http
      service: backend

  services:
    backend:
      loadBalancer:
        servers:
          - url: http://backend:85
