http:
  routers:
    backend:
      rule: "Host(`api-cryptify.sgcod3.com`)"
      entryPoints:
        - https
      tls: {}
      service: backend

  services:
    backend:
      loadBalancer:
        servers:
          - url: http://backend:85
