http:
  routers:
    frontend:
      rule: "Host(`cryptify.ss-centi.com`)"
      entryPoints:
        - http
      middlewares:
        - redirect
      service: frontend

    frontend-secure:
      rule: "Host(`cryptify.ss-centi.com`)"
      entryPoints:
        - https
      tls:
        certResolver: http
      service: frontend
  
  services:
    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:4200

