#http:
#  routers:
#    frontend:
#      rule: "PathPrefix(`/`)"
#      entryPoints:
#        - http
#      middlewares:
#        - redirect
#      service: frontend

#    frontend-secure:
#      rule: "PathPrefix(`/`)"
#      entryPoints:
#        - https
#      tls:
#        certResolver: http
#      service: frontend
  
#  services:
#    frontend:
#      loadBalancer:
#        servers:
#          - url: http://frontend:4200

http:
  routers:
    frontend-any:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - http
      service: frontend

    frontend-any-secure:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - https
      tls: {}
      service: frontend
  
  services:
    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:4200


