#http:
#  routers:
#    frontend:
#      rule: "PathPrefix(`/`)"
#      entryPoints:
#        - http
#      middlewares:
#        - redirect
#      service: frontend

#    frontend-secure:
#      rule: "PathPrefix(`/`)"
#      entryPoints:
#        - https
#      tls:
#        certResolver: http
#      service: frontend
  
#  services:
#    frontend:
#      loadBalancer:
#        servers:
#          - url: http://frontend:4200
http:
  routers:
    frontend:
      rule: "Host(`cryptify.sgcod3.com`)"
      entryPoints:
        - https
      tls: {}
      service: frontend

  services:
    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:4200


