http:
  routers:
    portainer:
      rule: "Host(`portainer-cryptify.sgcod3.com`)"
      entryPoints:
        - https
      tls: {}
      service: portainer

  services:
    portainer:
      loadBalancer:
        servers:
          - url: http://portainer:9000
